.purchase-card {
  border: 1px solid rebeccapurple;
  border-radius: 1rem;
  /* list-style: none; */
}

.purchasae-card__header {
  height: 30rem;
  max-height: max-content;
}

.product-card__container-img {
  position: relative;
  height: 20rem;
}

.product-card__img {
  position: absolute;
  top: 0;
  left: 50%;

  width: 80%;
  height: 20rem;
  object-fit: contain;

  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.product-card__container-img--hidden {
  opacity: 0;
  /* overflow: hidden; */
}

.product-card__container-img--visible {
  opacity: 1;
  /* overflow: hidden; */
}

.product-card__container-img:hover {
  border: thin solid red;
  border-radius: 1rem;
  color: yellowgreen;
  overflow: hidden;
}

.product-card__container-img:hover img.product-card__container-img--hidden {
  opacity: 1;
}

.product-card__container-img:hover img.product-card__container-img--visible {
  opacity: 0;
}
