/* .product-card__header {
  list-style: none;
} */
.product-card {
  border: 1px solid rebeccapurple;
  border-radius: 1rem;
}

.product-card__container-img {
  position: relative;
  height: 20rem;

  /* border: thin solid red; */
}

.product-card__img {
  position: absolute;
  top: 0;
  left: 50%;

  width: 80%;
  height: 20rem;
  object-fit: contain;

  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

.product-card__container-img--hidden {
  opacity: 0;
}

.product-card__container-img--visible {
  opacity: 1;
}

/* .product-card__container-img:hover {
  border: thin solid red;
  color: yellowgreen;
} */

.product-card__container-img:hover img.product-card__container-img--hidden {
  opacity: 1;
}

.product-card__container-img:hover img.product-card__container-img--visible {
  opacity: 0;
}
